

{% extends 'blank_layout.html' %}
{% block content %}
{% load static %}
{% if recent_movies %}
  <h3>Recently Edited Movies:</h3>
  {% for movie_obj in recent_movies %}
    <p>{{ movie_obj.title }}</p>
  {% endfor %}
{% else %}
  <p>No recently edited movies yet.</p>
{% endif %}

<p>Movie List {{ visits }} times</p>
<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>Title</th>
        <th>Poster</th>
        <th>Year</th>
        <th>Summary</th>
        <th>Edit/Delete</th>
    </tr>
    {% for movie_obj in movies %}
    <tr>
        <td>{{ movie_obj.title|upper }}</td>
        <td>
            {% if movie_obj.poster %}
                <img src="{{ movie_obj.poster.url }}" width="150" height="150">
            {% else %}
                No Poster
            {% endif %}
        </td>
        <td>{{ movie_obj.year }}</td>
        <td>{{ movie_obj.description|default:"No data" }}</td>
        <td>
            <a href="{% url 'edit' movie_obj.id %}">edit</a> /
            <a href="{% url 'delete' movie_obj.id %}">delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
