
<p>Login</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>
    <label>UserName:</label>
    <input type="text" name="username"/>
    </p>
    <p>
    <label>Password:</label>
    <input type="password" name="password"/>
    </p>
    <button type="submit">Login</button>
    
</form>
<p>
    {% if user %}
    New user created with username {{ user.username }}
    {% endif %}
</p>
<p style="background-color: red;">
    {% if error_message %}
    N {{ error_message }}
    {% endif %}
</p>